{% extends 'blog/base.html' %}
{% block conteudo %}
    <div class="row">
        <div class="col-12 mb-3">
            <h2>
                {{post.titulo}}
            </h2>
        </div>
        <div class="col-10 mb-3">
            {{post.text}}
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-12"> 
            <a href="{% url 'edit' post.id %}" class="btn btn-primary">edite</a>
        </div>
    </div>
    {% endif %}
{% endblock %}
