{% extends 'blog/base.html' %}
{% load static %}

{% block head %}

    <title>Mysite - Form</title>
    <link rel="stylesheet" href="{% static 'css/form_create.css' %}"/>
{% endblock %}

{% block conteudo %}
<div class="row g-0 justify-content-center">
    <div class="col-10 col-md-8 col-lg-6">
        {% if form.cleaned_data  %}
            <form  class="needs-validation was-validated" action="" method="POST" novalidate>
        {% else %}
            <form  class="needs-validation" action="" method="POST" novalidate>
        {% endif %}
            {% csrf_token %}
            {% for post in form %}
                <div class="mb-3">
                    {{post.label_tag}}
                    {{post}}
                    <div class="invalid-feedback">
                        {{post.errors}}
                    </div>
                </div>
            {% endfor %}
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}